<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlanIt</title>
    <environment include="Development">
      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
        asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
        crossorigin="anonymous"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#"><span class="planColor">Plan</span><span class="itColor">It</span></a></a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Go Home</a>
      <a class="dropdown-item" asp-area="" asp-controller="BusProposal" asp-action="Index">My Proposals</a>
      <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Login">Sign In</a>
      <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
      <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Index">Delete My Account</a>
    </div>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Documents</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="https://sos.oregon.gov/business/Pages/domestic-business-corporation-forms.aspx">State Registration</a>
      <a class="dropdown-item" href="https://www.sba.gov/business-guide/launch-your-business/get-federal-state-tax-id-numbers">Federal Registration</a>
      <a class="dropdown-item" href="https://www.entrepreneur.com/article/247575">Proposal Prep</a>
      <a class="dropdown-item" href="https://nondisclosureagreement.com/">Privacy</a>
    </div>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Proposals</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="https://www.entrepreneur.com/article/247575">Start Building a Proposal</a>
      <a class="dropdown-item" href="https://www.inc.com/guides/2010/09/how-to-write-an-executive-summary.html">What's an Executive Summary?</a>
      <a class="dropdown-item" href="https://www.businessnewsdaily.com/4686-how-to-start-a-business.html">Tips</a>
    </div>
  </li>
</ul>

    @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" id="navTitle"><span class="planColor">Plan</span><span class="itColor">It</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Sign In</a>
            </li>
             <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="BusProposal" asp-action="Index">Build My Proposal!</a>
            </li> 
          </ul>
        </div>
      </div>
      </nav> *@
    <div class="container">
      <partial name="_CookieConsentPartial" />
      <main role="main" class="pb-3">
        @RenderBody()
      </main>
    </div>
    <environment include="Development">
      <script src="~/lib/jquery/dist/jquery.js"></script>
      <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
        crossorigin="anonymous"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
  </body>
</html>


