@* @{
  Layout = "_Layout";
}

@model PlanIt.Models.BusExecSummary

<h2>Are you sure you want to delete this Summary?</h2>

@Html.DisplayNameFor(model => model.SummaryTitle): @Html.DisplayFor(model => model.SummaryTitle)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to Summary", "Index") *@