@{
Layout = "_Layout";
}

@using System.Security.Claims

<h2>Welcome!</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <button type="submit" class="btn btn-info">Log Out</button>
  }
}
else
{
  <div class="row">
    @* <div class="col-sm-4"> *@
  <p><button type="submit" class="btn btn-info">@Html.ActionLink("Register", "Register")</button></p>
  <hr/>

  <p><button type="submit" class="btn btn-info">@Html.ActionLink("Log in", "Login")</button></p>

</div>
}

