@{
Layout = "_Layout";
}

@using System.Security.Claims

<h2>Welcome!</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <button type="submit" class="btn btn-info">Log Out </button>
  }
}
else
{
   @* @using (Html.BeginForm("Register", "Account"))
  {
    <button type="submit" class="btn btn-info">Register Here</button>
  } *@
  <p><button type="submit" class="btn btn-info">@Html.ActionLink("Register", "Register")</button></p>
   @* @using (Html.BeginForm("Login", "Account"))
  {
    <button type="submit" class="btn btn-info">Log in</button>
  } *@
  <p><button type="submit" class="btn btn-info">@Html.ActionLink("Log in", "Login")</button></p>
}

<p><button type="submit" class="btn btn-info">@Html.ActionLink("Home", "Index", "Home")</button></p>