
@{
  Layout = "_Layout";
}

@using PlanIt.ViewModels

@model LoginViewModel
<div class="w3-container w3-green">
<h2>Log in with your account</h2>
</div>
<hr />
@using (Html.BeginForm())
{
  @* @Html.LabelFor(m => m.Email) *@
  <br/>
  <div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">Email</span>
  </div>
@Html.TextBoxFor(m => m.Email)
</div>
<hr/>
  @* @Html.LabelFor(m => m.Password) *@
  <br/>
    <div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">Password</span>
  </div>
  @Html.PasswordFor(m => m.Password)
    </div>
<hr/>
<input type="submit" value="Log in" class="btn btn-default" />
}
@* <div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">Email</span>
  </div>
  <input type="text" class="form-control" placeholder="ThisIsntWorking@dreadful.com" aria-label="Email" aria-describedby="addon-wrapping">
</div> *@