@{
  Layout = "_Layout";
}

@using PlanIt.Models;
@model List<PlanIt.Models.BusExecSummary>;

<h1>My Summaries</h1>

@if(@Model.Count == 0)
{
  <h3>No Summarys have been added yet! Sorry.</h3>
}

@foreach (BusExecSummary busExecSummary in Model)
{
  <button><ul>@Html.ActionLink($"{busExecSummary.SummaryTitle}", "Details", new { id = busExecSummary.SummaryId })</ul></button>
}

<p>@Html.ActionLink("Add A New Summary", "Create", "summarys")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>