@{
  Layout = "_Layout";
}

@using PlanIt.Models;
@using System.Security.Claims
@model IEnumerable<PlanIt.Models.BusProposal>

<h1 class="welcome">Welcome @User.Identity.Name</h1>
<h2 class="busPlanIndex">Your Business Plans: </h2>

@if (Model.Any())
{
  <ul>
    @foreach (BusProposal busProposal in Model)
    {
      <button><p>@Html.ActionLink($"{busProposal.BusProposalTitle}", "Details", new { id = busProposal.BusProposalId })</p></button>
    }
  </ul>
} 
else
{
  <h3>No proposals have been added yet!</h3>
}

<p>@Html.ActionLink("Add new proposal", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>